:root {
  --animation-height: 400px;
  --animation-display: flex;
  --body-background-color: #fed8b1;
  --item-background-color: #f47174;
}

body {
  background-color: var(--body-background-color);
}

p {
  margin: 0;
}

.bayan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bayan-item {
  margin-bottom: 5px;
  width: 500px;

  border: 1px dashed red;
  border-radius: 30px;
}

.bayan-body {
  display: flex;
  flex-direction: column;
}

.bayan-body-title {
  padding: 3%;
  display: flex;
  justify-content: space-between;

  cursor: pointer;
  border-radius: 30px 30px 0px 0px;

  transition: background 0.2s ease-in-out;
}

.bayan-body-title > .fa-check {
  display: none;
}

.bayan-body-title > .fa-arrow-down {
  display: block;
}

.bayan-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.bayan-mem-wrapper {
  display: none;
  justify-content: center;
  height: 0;
  padding: 10px 0;
  cursor: pointer;
}

.mem-image {
  height: 100%;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}

/* on: hover effect */
.bayan-body-title:hover {
  background-color: var(--item-background-color);
}

.bayan-input:hover ~ .bayan-body > .bayan-body-title > .fa-check {
  display: block;
}

.bayan-input:hover ~ .bayan-body > .bayan-body-title > .fa-arrow-down {
  display: none;
}

.bayan-item:hover ~ .bayan-body > .bayan-mem-wrapper {
  display: var(--animation-display);
  height: var(--animation-height);
}

.bayan-input:hover ~ .bayan-body > .bayan-mem-wrapper {
  display: var(--animation-display);
  height: var(--animation-height);

  animation-name: animateHeight;
  animation-duration: 0.5s;
}
/* off: hover effect */

/* on: checked effect */
.bayan-input:checked ~ .bayan-body > .bayan-body-title {
  background-color: var(--item-background-color);
}

.bayan-input:checked ~ .bayan-body > .bayan-body-title > .fa-check {
  display: block;
}

.bayan-input:checked ~ .bayan-body > .bayan-body-title > .fa-arrow-down {
  display: none;
}

.bayan-input:checked ~ .bayan-body > .bayan-mem-wrapper {
  display: var(--animation-display);
  height: var(--animation-height);

  animation-name: animateHeight;
  animation-duration: 0.5s;
}

.bayan-input:checked > .mem-image {
  display: var(--animation-display);
  height: var(--animation-height);

  animation-name: animateHeight;
  animation-duration: 0.5s;
}
/* off: checked effect */

@keyframes animateHeight {
  0% {
    display: none;
    height: 0;
  }
  100% {
    display: var(--animation-display);
    height: var(--animation-height);
  }
}
